.footer {
  @include spacer-top('padding', var(--spacer-xl));
}

.footer-nav {
  @include spacer-bottom('padding', var(--spacer-xl));

  .h-5 {
    @include spacer-top('padding', var(--spacer-sm));
    font-size: var(--fs-0);
  }

  .row {
    row-gap: var(--spacer-xl);
  }

  &__column {
    @include flex($flex-direction: column);
  }

  &__list {
    height: 100%;
    @include flex($flex-direction: column);
  }

  &__header {
    font-size: var(--fs-5);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-secondary);
    @include spacer-bottom('margin', var(--spacer));
  }

  &__link {
    @include flex($justify-content: center, $flex-direction: column);
    @include spacer-vertical('padding', var(--spacer-sm));
    font-size: var(--fs-0);
    font-weight: var(--fw-medium);

    @include hover {
      color: var(--color-secondary);
      text-decoration: underline;
    }

    &:focus-visible {
      color: var(--color-secondary);
      text-decoration: underline;
    }
  }

  &__btn {
    margin-top: auto;
    @include spacer-vertical('padding', var(--spacer-sm));
  }

  .logo-icon {
    height: 8rem;
    width: 12.5rem;
  }
}

.copyright {
  @include flex($justify-content: space-between, $align-items: center);
  color: var(--color-secondary-gray);
  @include spacer-bottom('padding', var(--spacer-lg));
  font-size: var(--fs-6);
}
