.footer {
  @include spacer-top('padding', var(--spacer-xl));
}

.footer-nav {
  .h-5 {
    padding-top: var(--spacer-sm);
    margin: 0;
  }

  .row {
    justify-content: space-between;
  }

  &__column {
    @include spacer-bottom('margin', var(--spacer-lg));
    @include flex($flex-direction: column);
  }

  &__list {
    height: 100%;
    margin-bottom: 0;
    @include flex($flex-direction: column);
  }

  &__header {
    font-size: var(--fs-5);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-secondary);
    margin-top: 0;
  }

  &__link {
    @include flex($justify-content: center, $flex-direction: column);
    @include spacer-vertical('padding', var(--spacer-sm));
    font-size: var(--fs-0);
    font-weight: var(--fw-medium);


    @include hover {
      color: var(--color-secondary-dark);
      text-decoration: underline;
    }

    &:focus-visible {
      color: var(--color-secondary-dark);
      text-decoration: underline;
    }
  }

  &__btn {
    margin-top: auto;
    @include spacer-vertical('padding', var(--spacer-sm));
  }

  .btn {
    margin: 0;
  }

  .logo-icon {
    height: 8rem;
    width: 12.5rem;
  }
}

.copyright {
  @include flex($justify-content: space-between, $align-items: center);
  color: var(--color-secondary-gray);
  font-size: var(--fs-6);
}