.footer {
  margin-top: auto;
  background-color: $color-blue-light;
  @include spacer-top('padding', $spacer-xl);
}

.footer-nav {
  .h-5 {
    padding-top: $spacer-sm;
    margin: 0;
  }

  .row {
    justify-content: space-between;
  }

  &__column {
    @include spacer-bottom('margin', $spacer-lg);
    @include flex($flex-direction: column);
  }

  &__list {
    height: 100%;
    margin-bottom: 0;
    @include flex($flex-direction: column);
  }

  &__header {
    font-size: $fs-base;
    font-weight: bold;
    text-transform: uppercase;
    color: $color-secondary;
    margin-top: 0;
  }

  &__link {
    @include flex($justify-content: center, $flex-direction: column);
    padding: $spacer-sm 0;
    font-size: $fs-sm;
    font-weight: $medium;
    outline: none;

    @include hover {
      color: $color-secondary-dark;
      text-decoration: underline;
    }

    &:focus-visible {
      color: $color-secondary-dark;
      text-decoration: underline;
    }
  }

  &__btn {
    margin-top: auto;
    padding: $spacer-sm 0;
  }

  .btn {
    margin: 0;
  }

  .logo-icon {
    min-height: 7.0556rem;
    min-width: 11.1111rem;
  }
}

.copyright {
  @include flex($justify-content: space-between, $align-items: center);
  color: $color-gray;
  font-size: 0.7778rem;
}
