.accordion {
  @include spacer-bottom('margin', $spacer-lg);

  &:first-child {
    width: 100%;
  }

  &__item {
    background-color: darken($color-light, 2%);
    border-radius: $border-radius-sm;
    @include spacer-bottom('margin', $spacer-sm);
  }

  &__button {
    @include flex($justify-content: space-between, $align-items: center);
    padding: 1.25rem 1rem;
    width: 100%;
    background-color: lighten($color-primary, 13%);
    font-weight: bold;

    
    @include media-breakpoint-up(sm) {
      font-size: $fs-lg;
      color: $color-accent;
    }

    color: darken($color-accent, 4%);
    text-align: left;
    line-height: $lh-sm;
  }

  &__icon-container {
    margin-left: 1rem;
    margin-bottom: auto;
  }

  &__icon {
    @include box(1rem, 1rem);
    fill: $color-accent;
    transition: rotate 600ms ease;
  }

  &__button.active {
    .accordion__icon {
      rotate: 180deg;
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: 600ms ease max-height;
    margin: 0 1rem;
  }
}

.accordion__button {
  transition: 0.2s ease-in-out;
  @include hover {
    background-color: lighten($color-primary, 11%);
  }

  &:focus-visible {
    transition: none;
    border-radius: $border-radius-sm;
  }
}
