/* ====================   MAIN HEADER   ==================== */
[data-animate='hero-header'] {
  opacity: 0;
  translate: 0 -75%;
  transition: all 0.75s ease-in-out;
  scale: 0.5;
}

[data-animate='hero-header'].show {
  opacity: 1;
  translate: none;
  scale: 1;
}

// paragraphs
[data-animate='hero-p-1'],
[data-animate='hero-p-2'],
[data-animate='hero-p-3'] {
  opacity: 0;
  transition: all 1s ease-in-out;
}

[data-animate='hero-p-1'] {
  transition-delay: 0.5s;
}

[data-animate='hero-p-2'] {
  transition-delay: 1s;
}

[data-animate='hero-p-3'] {
  transition-delay: 1.5s;
}

[data-animate='hero-p-1'].show,
[data-animate='hero-p-2'].show,
[data-animate='hero-p-3'].show {
  opacity: 1;
}

/* ====================   LOGO   ==================== */

[data-animate='hero-logo'] {
  rotate: 360deg;
  transition: all 0.75s ease-in-out;
  transition-delay: 2s;
  opacity: 0;
}

[data-animate='hero-logo'].show {
  opacity: 1;
  rotate: 0deg;
}

/* ====================   PAGE SECTION   ==================== */

[data-animate='section-header'] {
  opacity: 0;
  transition: all 0.75s ease-in-out;
  translate: 5rem;
}

[data-animate='section-header'].show {
  translate: none;
  opacity: 1;
}

/* ====================   BLOG CARD HEADER   ==================== */

[data-animate='blog-header-1'],
[data-animate='blog-header-2'],
[data-animate='blog-header-3'] {
  opacity: 0;
  translate: 15%;
  transition: all 1s ease-in-out;
}

@include media-breakpoint-up(lg) {
  [data-animate='blog-header-1'] {
    transition-delay: 0.25s;
  }

  [data-animate='blog-header-2'] {
    transition-delay: 0.75s;
  }

  [data-animate='blog-header-3'] {
    transition-delay: 1.25s;
  }
}

[data-animate='blog-header-1'].show,
[data-animate='blog-header-2'].show,
[data-animate='blog-header-3'].show {
  opacity: 1;
  translate: none;
}

/* ====================   ACCORDION ITEM   ==================== */

@include media-breakpoint-up(lg) {
  [data-animate='accordion-item'] {
    translate: -75%;
    scale: 0.25;
    rotate: 15deg;
    transition: all 1s ease-in-out;
    &:nth-child(odd) {
      translate: 75%;
      rotate: -15deg;
    }
  }

  [data-animate='accordion-item'].show {
    translate: none;
    scale: 1;
    rotate: 0deg;
  }
}
