.bg-gradient {
  position: absolute;
  @include box(100%, 100%);
  z-index: -1;
  inset: 0;
  scale: 2 1;
  display: block;
}

.bg-gradient-bottom {
  background-image: linear-gradient(
    135deg,
    hsla(0deg, 0%, 100%, 0.3) 0%,
    hsla(30deg, 100%, 90%, 0.3) 6%,
    hsla(29deg, 100%, 81%, 0.3) 11%,
    hsla(29deg, 100%, 72%, 0.3) 17%,
    hsla(31deg, 96%, 61%, 0.3) 22%,
    hsla(31deg, 96%, 61%, 0.3) 28%,
    hsla(29deg, 100%, 72%, 0.3) 33%,
    hsla(29deg, 100%, 81%, 0.3) 39%,
    hsla(30deg, 100%, 90%, 0.3) 44%,
    hsla(0deg, 0%, 100%, 0.3) 50%,
    hsla(223deg, 43%, 88%, 0.3) 56%,
    hsla(221deg, 43%, 75%, 0.3) 61%,
    hsla(218deg, 44%, 62%, 0.3) 67%,
    hsla(214deg, 50%, 48%, 0.3) 72%,
    hsla(214deg, 50%, 48%, 0.3) 78%,
    hsla(218deg, 44%, 62%, 0.3) 83%,
    hsla(221deg, 43%, 75%, 0.3) 89%,
    hsla(223deg, 43%, 88%, 0.3) 94%,
    hsla(0deg, 0%, 100%, 0.3) 100%
  );
}

.bg-gradient-up {
  background-image: linear-gradient(
    0deg,
    hsla(0deg, 0%, 100%, 1) 0%,
    hsla(29deg, 100%, 72%, 0) 50%,
    hsla(0deg, 0%, 100%, 1) 100%
  );
}
