.box-link {
  @include link-space();
  display: inline-block;
  color: var(--color-secondary);
  font-size: var(--fs-0);
  font-weight: var(--fw-medium);
  text-transform: uppercase;
  transition: all 0.3s ease-out;
  cursor: pointer;

  &__body {
    @include flex($align-items: center);

    &:focus-visible {
     
      color: var(--color-primary);

      .box-link__icon {
        fill: var(--color-primary);
        translate: 5px;
      }
    }
  }

  &__icon {
    @include box(0.7rem, 0.7rem);
    margin-left: 3px;
    fill: var(--color-secondary);
    transition: all 0.3s ease-out;
  }

  @include hover {
    color: var(--color-primary);

    .box-link__icon {
      fill: var(--color-primary);
      translate: 5px;
    }
  }
}
