.box-link {
  @include link-space();
  display: inline-block;
  color: $color-secondary;
  font-size: $fs-sm;
  font-weight: $medium;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &__body {
    @include flex($align-items: center);

    &:focus-visible {
      outline: none;
      color: $color-primary;

      .box-link__icon {
        fill: $color-primary;
        translate: 5px;
      }
    }
  }

  &__icon {
    @include box(0.7rem, 0.7rem);
    margin-left: 3px;
    fill: $color-secondary;
    transition: all 0.3s ease-in-out;
  }

  @include hover {
    color: $color-primary;

    .box-link__icon {
      fill: $color-primary;
      translate: 5px;
    }
  }
}
