@mixin btn {
  @include flex($display: inline-flex, $justify-content: center, $align-items: center);

  @include spacer-vertical('margin', $spacer);
  outline: none;
  color: $color-dark;
  background-color: $color-primary;
  border-radius: $br-sm;
  font-weight: $semibold;
  min-height: 2.7778rem;
  min-width: 10rem;
  padding: 0.8333rem 2rem;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  box-shadow: $shadow;
  border: 1px solid $color-dark;
  user-select: none;

  &:focus-visible {
    background-color: $color-secondary;
    color: $color-light;
    box-shadow: none;
    translate: 5px 5px;
    filter: drop-shadow(0 0 1rem $color-secondary-dark);
  }

  @include hover {
    background-color: $color-secondary;
    color: $color-light;
    box-shadow: none;
    translate: 5px 5px;
  }
}

@mixin btn-secondary {
  background-color: $color-secondary;
  color: $color-light;

  &:focus-visible {
    color: $color-dark;
    background-color: $color-primary;
    box-shadow: none;
    translate: 5px 5px;
    filter: drop-shadow(0 0 1rem $color-primary);
  }

  @include hover {
    color: $color-dark;
    background-color: $color-primary;
    box-shadow: none;
    translate: 5px 5px;
  }
}

.btn {
  @include btn();
}

.btn-secondary {
  @extend .btn;
  @include btn-secondary();
}
