.card-services {
  @include flex($flex-direction: column);
  position: relative;
  height: 100%;
  border-radius: $br;
  border: 1px solid $color-stroke;
  transition: all 0.3s ease-in-out;
  outline: none;
  padding: $spacer;
  padding-bottom: 0;
  background-color: $color-light;
  
  @include media-breakpoint-up(lg) {
    @include spacer('padding', $spacer-lg);
  }

  &__logo {
    @include flex($justify-content: center, $align-items: center);
    @include box(4.4444rem, 4.4444rem);
    background-color: $black;
    border-radius: $br;
    box-shadow: $shadow;
    transition: all 0.3s ease-in-out;
  }

  &__icon {
    @include box(2rem, 2rem);
    fill: $color-light;
  }

  .box-link {
    @include absolute(bottom 1.75rem);
    translate: 0 1rem;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
  }

  @include hover {
    border: 1px solid $color-dark;
    box-shadow: $shadow;

    .card-services__logo {
      translate: 5px 5px;
      box-shadow: none;
    }

    .box-link {
      visibility: visible;
      opacity: 1;
      translate: none;
    }
  }

  &:focus-visible {
    border: 1px solid $color-dark;
    box-shadow: $shadow;

    .card-services__logo {
      translate: 5px 5px;
      box-shadow: none;
    }

    .box-link {
      visibility: visible;
      opacity: 1;
      translate: none;
    }
  }
}
