.social {
  @include flex($flex-wrap: wrap, $align-items: center, $gap: 1rem);


  &__item {
 /*    [aria-label='Instagram'] {
      @include hover-tooltip($color: var(--color-light), $bg-color: var(--color-secondary-gray));
    }

    [aria-label='Facebook'] {
      @include hover-tooltip($color: var(--color-light), $bg-color: var(--color-secondary-gray));
    }

    [aria-label='Linkedin'] {
      @include hover-tooltip($color: var(--color-light), $bg-color: var(--color-secondary-gray));
    } */
  }

  &__link {
    @include flex($justify-content: center, $align-items: center);
    @include box(2.75rem, 2.75rem);
    border-radius: 100%;
    background-color: var(--color-dark);
    transition: var(--transition);

    @include hover {
      background-color: var(--color-primary);
      box-shadow: var(--shadow-sm);
    }

    &:focus-visible {
      background-color: var(--color-primary);
      box-shadow: var(--shadow-sm);
    }
  }

  &__icon {
    @include box(1rem, 1rem);
    fill: var(--color-light);
  }
}
