.nav-backdrop {
  @include fixed(top 0 left 0 bottom 0);
  @include box(100%, 100%);
  background-color: #000;
  opacity: 0;
  z-index: 1;
}

.overlay {
  background-color: #000;
  opacity: 0.1;
  @include absolute(top 0 left 0);
  @include box(100%, 100%);
}

.nav-backdrop._active {
  animation: opacity-03 0.3s forwards;
}

@keyframes opacity-03 {
  100% {
    opacity: 0.3;
  }
}
