.rounded-icon {
  @include flex($justify-content: center, $align-items: center);
  @include link-space();
  padding: 0.75rem;
  background: $color-dark;
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
  outline: none;

  &:focus-visible {
    background-color: $color-primary;
    box-shadow: $shadow-sm;

    .icon-rounded {
      fill: $color-dark;
    }
  }

  @include hover {
    background: $color-primary;
    box-shadow: $shadow-sm;

    .icon-rounded {
      fill: $color-dark;
    }
  }
}

.icon-rounded {
  @include box(1rem, 1rem);
  transition: all 0.3s ease-in-out;
  fill: $color-light;
}

.social-icons {
  @include flex($align-items: center, $flex-wrap: wrap);
  @include spacer-vertical('margin', $spacer);

  &__item {
    margin-right: 0.625rem;
    margin-bottom: 0.625rem;
  }
}
