

.header-link {
  transition: all 0.4s ease-out;
  text-decoration: underline solid 2px transparent;
  text-underline-offset: 10%;

  @include hover {
    color: var(--color-secondary-dark);
    text-decoration-color: var(--color-secondary-dark);
  }

  &:focus-visible {
    
    color: var(--color-secondary-dark);
    text-decoration-color: var(--color-secondary-dark);
  }
}





