.logo-hover:focus-visible {
  outline: none;
  filter: drop-shadow(0 0 1rem $color-secondary);
}

.header-link {
  transition: all 0.4s ease-out;
  text-decoration: underline solid 2px transparent;
  text-underline-offset: 10%;

  @include hover {
    color: $color-secondary-dark;
    text-decoration-color: $color-secondary-dark;
  }

  &:focus-visible {
    outline: none;
    color: $color-secondary-dark;
    text-decoration-color: $color-secondary-dark;
  }
}





