.dropdown-left {
  left: -0.75rem;
}

.dropdown {
  &__btn {
    @include flex($display: inline-flex, $justify-content: center, $align-items: center);
    padding: 1rem;
    border-radius: 100%;

    @include media-breakpoint-up(xl) {
      margin-left: -25px;
    }

    &:focus-visible {
      fill: var(--color-secondary);

      .dropdown__icon {
        scale: 1.5;
        rotate: 90deg;
      }
    }
  }

  &__icon {
    @include box(0.75rem, 0.75rem);
    transition: var(--transition);
  }

  &__content {
    cursor: auto;
    overflow: hidden;
    visibility: hidden;
    pointer-events: none;

    @include media-breakpoint-down(xl) {
      transition: var(--transition);
      max-height: 0;
      background-color: var(--color-secondary-light);
      border-radius: var(--br-sm);
    }
  }
}

.dropdown.active {
  color: var(--color-secondary);
  text-decoration: none;

  .dropdown__content {
    visibility: visible;
    pointer-events: all;
  }

  .dropdown__icon {
    fill: var(--color-secondary);
    rotate: 90deg;
  }
}

.dropdown-content {
  &__list {
    margin: 0;
  }

  &__link {
    @include flex($flex-direction: column);
    padding: 0.75rem;
    color: var(--color-dark);
    font-size: var(--fs-0);

    @include hover {
      background-color: var(--color-secondary);
      color: var(--color-light);
    }

    &:focus-visible {
      border-radius: 0;
      color: var(--color-light);
      background-color: var(--color-secondary);
    }
  }
}

/* ====================   MEDIA   ==================== */

@include media-breakpoint-up(xl) {
  .dropdown__content {
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: var(--transition);
    border-radius: var(--br-sm);
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.3));
  }

  .dropdown-content {
    display: flex;
    background-color: var(--color-light);
    border-top: 3px solid var(--color-secondary);
    translate: 0 -100%;
    transition: var(--transition);
  }

  .dropdown.active {
    z-index: 1;

    .dropdown__content {
      opacity: 1;
      transition: none;
    }

    .dropdown-content {
      translate: none;
    }
  }

  .dropdown__icon {
    @include box(0.625rem, 0.625rem);
  }
}
