<div class="container-fluid container-lg footer-container">

  <section class="mailing-list text-center">

    <h2>Join our mailing list</h2>
    <p>
      Sign up to be the first to receive special news and updates from Skin
      Clinica.
    </p>

    <form class="row mailing-form">

      <div class="col-12 col-sm-6 d-flex col-md-auto mailing-form__item">
        <div class="position-relative">
          <label for="full-name">Full name <span>(optional)</span></label>
          <input autocomplete="off" placeholder="Full name" type="text" id="full-name">
        </div>
      </div>

      <div class="col-12 col-sm-6 d-flex col-md-auto mailing-form__item">
        <div class="position-relative">
          <label for="email-adress">Email address <span>(required)</span></label>
          <input placeholder="Email" type="email" id="email-adress" required>
        </div>
      </div>

      <div class="col-12 col-md-auto mailing-form__item mailing-form__button">
        <button type="submit" class="btn-light">Subscribe</button>
      </div>

    </form>

  </section>

  <nav aria-label="Footer" class="footer-nav-main">
    <div class="footer-logo">
      <a href="index.html" aria-label="Skin clinica home. Skin clinica logo." class="logo-footer">
        <svg aria-hidden="true" class="logo-footer-icon hvr-icon">
          <use href="images/icons/sprite-multi.svg#logo-footer"></use>
        </svg>
        <span class="logo-text-light">skin clinica</span>
      </a>
      <div class="footer-phone">
        <p class="footer-nav__header">Phone</p>
        <a href="tel:+61251347278" class="footer-phone__link">61&nbsp;2&nbsp;5134&nbsp;7278</a>
      </div>
    </div>

    <div class="footer-nav">
      <div class="row">
        <div class="col-7 col-sm-6 col-md-auto footer-nav__col">
          <p class="footer-nav__header">Company</p>
          <ul class="footer-nav__list">
            <li><a class="footer-nav__link" href="about.html">About</a></li>
            <li><a class="footer-nav__link" href="faq.html">FAQ</a></li>
            <li><a class="footer-nav__link" href="blog.html">Blog</a></li>
            <li><a class="footer-nav__link" href="contact.html">Contact</a></li>
          </ul>
        </div>
        <div class="col-7 col-sm-6 col-md-auto footer-nav__col">
          <p class="footer-nav__header">Menu</p>
          <ul class="footer-nav__list">
            <li><a class="footer-nav__link" href="shop.html">Shop</a></li>
            <li>
              <a class="footer-nav__link" href="skin-intelligence.html">Skin Intelligence</a>
            </li>
            <li>
              <a class="footer-nav__link" href="skin-care-packages.html">Skin Care Packages</a>
            </li>
            <li><a class="footer-nav__link" href="brands.html">Brands</a></li>
          </ul>
        </div>

        <div class="col-7 col-sm-6 col-md-auto footer-nav__col">
          <p class="footer-nav__header">Customer support</p>
          <ul class="footer-nav__list">
            <li>
              <a class="footer-nav__link" href="#">Why Buy From Us</a>
            </li>
            <li><a class="footer-nav__link" href="#">Shipping</a></li>
            <li><a class="footer-nav__link" href="#">Returns</a></li>
            <li>
              <a class="footer-nav__link" href="#">Terms &amp; Conditions</a>
            </li>
            <li>
              <a class="footer-nav__link" href="#">Privacy Policy</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-socials">@@include('social.html',{})</div>
  </nav>

  <p class="copyright">
    © ALL CONTENT IS THE COPYRIGHT OF SKIN CLINICA. ALL RIGHTS RESERVED
  </p>
</div>