<!-- ====================   LOGO   ==================== -->

<a class="logo col-auto justify-content-start logo-hover" href="index.html" aria-label="The Owl home. The Owl logo.">
  <svg aria-hidden="true" class="logo-icon">
    <use href="images/icons/sprite-multi.svg#logo"></use>
  </svg>
</a>

<!-- ====================   PHONE   ==================== -->

<div class="phone col-auto">
  <svg aria-hidden="true" class="phone-icon">
    <use href="images/icons/sprite-mono.svg#phone"></use>
  </svg>
  <a class="phone__number" href="tel:1800843695">1800&nbsp;843&nbsp;695</a>
</div>


<!-- ====================   SEARCH   ==================== -->

<div class="col-auto col-xl-2 justify-content-end d-none d-xl-flex order-last">

  <form role="search" data-search class="nav-search">

    <label for="nav-search-input" class="visually-hidden">
      Search
    </label>

    <input type="search" class="nav-search-input text-sm" placeholder="Search" id="nav-search-input" autocomplete="off"
      required>

    <button type="reset" class="nav-search-buttons nav-search-buttons__reset" aria-label="Clear search text">
      <svg aria-hidden="true" class="nav-search-buttons__icon hvr-icon">
        <use href="images/icons/sprite-mono.svg#toggler-closed"></use>
      </svg>
    </button>

    <button type="submit" class="nav-search-buttons nav-search-buttons__search" aria-label="Submit search">
      <svg aria-hidden="true" class="nav-search-buttons__icon hvr-icon">
        <use href="images/icons/sprite-mono.svg#search"></use>
      </svg>
    </button>

    <button type="button" data-search-btn="close" class="nav-search-buttons nav-search-buttons__close"
      aria-label="Close search">close
    </button>

  </form>

</div>

<!-- ====================   NAV-TOGGLER   ==================== -->

<button type="button" data-hamburger-btn class="nav-toggler col-auto">
  <span class="nav-toggler__open">
    <svg aria-hidden="true" class="nav-toggler-icon">
      <use href="images/icons/sprite-mono.svg#hamburger"></use>
    </svg>
    <span class="nav-toggler__text">menu</span>
  </span>

  <span class="nav-toggler__close">
    <svg aria-hidden="true" class="nav-toggler-icon">
      <use href="images/icons/sprite-mono.svg#cancel"></use>
    </svg>
  </span>
</button>

<!-- ====================   NAVIGATION   ==================== -->

<nav data-hamburger class="navigation col-xl" aria-label="Main">

  <form role="search" data-search class="nav-search-burger d-xl-none">

    <label for="nav-search-input" class="visually-hidden">
      Search
    </label>

    <input type="search" class="nav-search-input text-sm" placeholder="Search" id="nav-search-input" autocomplete="off"
      required>

    <button type="reset" class="nav-search-buttons nav-search-buttons__reset" aria-label="Clear search text">
      <svg aria-hidden="true" class="nav-search-buttons__icon hvr-icon">
        <use href="images/icons/sprite-mono.svg#toggler-closed"></use>
      </svg>
    </button>

    <button type="submit" class="nav-search-buttons nav-search-buttons__search" aria-label="Submit search">
      <svg aria-hidden="true" class="nav-search-buttons__icon hvr-icon">
        <use href="images/icons/sprite-mono.svg#search"></use>
      </svg>
    </button>

    <button type="button" data-search-btn="close" class="nav-search-buttons nav-search-buttons__close"
      aria-label="Close search">close
    </button>

  </form>

  <div class="nav-body">@@include('nav-menu.html',{})</div>
  <div class="nav-mobile-socials">@@include('social.html',{})</div>
</nav>