<!--  ====================   HERO   ==================== -->

<section class="section container-fluid container-xxl hero">
  <div class="row justify-content-between">
    <div class="col-12 col-xxl-7">
      <h1><span class="color-primary">IT Managed Services</span> for Your Business<span class="color-primary">.</span>
      </h1>
      <a href="#" class="btn">Get started</a>
    </div>
    <div class="col-12 col-xxl-4">
      <p> We offer business-focused IT services and solutions to help your business be more efficient and flexible</p>
    </div>
  </div>
</section>

<!-- ====================   BANNER   ==================== -->

<div class="banner">
  <picture>
    <source sizes="100vw" type="image/avif" srcset="
        images/main-page/hero-banner-320.avif   320w,
        images/main-page/hero-banner-640.avif   640w,
        images/main-page/hero-banner-960.avif   960w,
        images/main-page/hero-banner-1280.avif 1280w,
        images/main-page/hero-banner-1920.avif 1920w,
        images/main-page/hero-banner-2560.avif 2560w
      ">
    <source sizes="100vw" type="image/webp" srcset="
        images/main-page/hero-banner-320.webp   320w,
        images/main-page/hero-banner-640.webp   640w,
        images/main-page/hero-banner-960.webp   960w,
        images/main-page/hero-banner-1280.webp 1280w,
        images/main-page/hero-banner-1920.webp 1920w,
        images/main-page/hero-banner-2560.webp 2560w
      ">
    <source sizes="100vw" type="image/jpeg" srcset="
        images/main-page/hero-banner-320.jpg   320w,
        images/main-page/hero-banner-640.jpg   640w,
        images/main-page/hero-banner-960.jpg   960w,
        images/main-page/hero-banner-1280.jpg 1280w,
        images/main-page/hero-banner-1920.jpg 1920w,
        images/main-page/hero-banner-2560.jpg 2560w
      ">
    <img draggable="false" class="banner-bg" src="images/main-page/hero-banner-960.jpg" alt="" width="2560"
      height="2560">
  </picture>
</div>

<!--  ====================   SERVICES   ==================== -->

<section class="section container-fluid container-xxl services">
  <h2 class="h-5 text-center">Our services</h2>
  <p class="h-2 text-center"><span class="text-accent">What</span> We Offer<span class="text-accent">.</span></p>
  <div class="row gy-3 services">
    <div class="col-12 col-sm-6 col-xl-4">
      <a href="#" class="card-services">
        <div>
          <div class="card-services__logo" style="background-color:#348ACC">
            <svg aria-hidden="true" class="card-services__icon">
              <use href="images/icons/sprite-mono.svg#service-icons--cloud-computing"></use>
            </svg>
          </div>
        </div>
        <h3 class="h-4">
          Cloud Solutions
        </h3>
        <p>
          Run your business entirely from the cloud, with email, data storage, systems management, data backup, disaster
          recovery, telephony, and more.
        </p>
        <span class="box-link">Read more <svg aria-hidden="true" class="arrow-right-icon box-link__icon">
            <use href="images/icons/sprite-mono.svg#arrow"></use>
          </svg></span>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-xl-4">
      <a href="#" class="card-services">
        <div>
          <div class="card-services__logo" style="background-color:#C263E2">
            <svg aria-hidden="true" class="card-services__icon">
              <use href="images/icons/sprite-mono.svg#service-icons--support"></use>
            </svg>
          </div>
        </div>
        <h3 class="h-4">
          Your Local IT Helpdesk
        </h3>
        <p>
          Get your business its own IT Helpdesk, located in Melbourne.
          It costs far less, and we have business experience most internal techs don't.
        </p>
        <span class="box-link">Read more <svg aria-hidden="true" class="arrow-right-icon box-link__icon">
            <use href="images/icons/sprite-mono.svg#arrow"></use>
          </svg></span>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-xl-4 ">
      <a href="#" class="card-services">
        <div>
          <div class="card-services__logo" style="background-color:#00B188">
            <svg aria-hidden="true" class="card-services__icon">
              <use href="images/icons/sprite-mono.svg#service-icons--turn"></use>
            </svg>
          </div>
        </div>
        <h3 class="h-4">
          Disaster Recovery
        </h3>
        <p>
          Our team will work with your business to configure the best fit disaster recovery solution to protect your
          important business data.
        </p>
        <span class="box-link">Read more <svg aria-hidden="true" class="arrow-right-icon box-link__icon">
            <use href="images/icons/sprite-mono.svg#arrow"></use>
          </svg></span>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-xl-4 ">
      <a href="#" class="card-services">
        <div>
          <div class="card-services__logo" style="background-color:#F6921D">
            <svg aria-hidden="true" class="card-services__icon">
              <use href="images/icons/sprite-mono.svg#service-icons--verified"></use>
            </svg>
          </div>
        </div>
        <h3 class="h-4">
          Systems Security
        </h3>
        <p>
          Ensure your important business data is protected with security software designed to find malware, prevent
          intrusions, and adapt to new threats fast.
        </p>
        <span class="box-link">Read more <svg aria-hidden="true" class="arrow-right-icon box-link__icon">
            <use href="images/icons/sprite-mono.svg#arrow"></use>
          </svg></span>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-xl-4 ">
      <a href="#" class="card-services">
        <div>
          <div class="card-services__logo" style="background-color:#33C1E0">
            <svg aria-hidden="true" class="card-services__icon">
              <use href="images/icons/sprite-mono.svg#service-icons--laptop"></use>
            </svg>
          </div>
        </div>
        <h3 class="h-4">
          Hardware Procurement
        </h3>
        <p>
          Computers, laptops, servers, network devices, custom workstations, boardroom conference systems, anything.
        </p>
        <span class="box-link">Read more <svg aria-hidden="true" class="arrow-right-icon box-link__icon">
            <use href="images/icons/sprite-mono.svg#arrow"></use>
          </svg></span>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-xl-4 ">
      <a href="#" class="card-services">
        <div>
          <div class="card-services__logo" style="background-color:#E15B73">
            <svg aria-hidden="true" class="card-services__icon">
              <use href="images/icons/sprite-mono.svg#service-icons--earth"></use>
            </svg>
          </div>
        </div>
        <h3 class="h-4">
          Phones and Internet
        </h3>
        <p>
          We'll set your business up with a cloud-based telephone system that allows your staff to work from anywhere.
          And we can connect your office with internet too!
        </p>
        <span class="box-link">Read more <svg aria-hidden="true" class="arrow-right-icon box-link__icon">
            <use href="images/icons/sprite-mono.svg#arrow"></use>
          </svg></span>
      </a>
    </div>

  </div>
</section>

<!--  ====================  ABOUT   ==================== -->

<section class="section container-fluid container-xxl about">
  <div class="row justify-content-between">
    <div class="col-12 col-lg-5 ">
      <h2 class="h-5">About us</h2>
      <p class="h-2"><span class="text-accent">Managed IT</span> Supports <span class="text-accent">.</span></p>
      <p>We offer business-focused IT services and solutions to help your business be more efficient and flexible, work
        reliably, grow comfortably, and be secure in an era of constant threats to business data.</p>
      <a href="about.html" class="btn mt-0">Get started</a>
    </div>
    <div class="col-12 col-lg-6">
      <picture>
        <source type="image/avif" sizes="(min-width: 992px) 50vw, 100vw" srcset="
            images/main-page/about-us-320.avif   320w,
            images/main-page/about-us-640.avif   640w,
            images/main-page/about-us-960.avif   960w,
            images/main-page/about-us-1280.avif 1280w,
            images/main-page/about-us-1920.avif 1920w,
            images/main-page/about-us-2560.avif 2560w
          ">
        <source type="image/webp" sizes="(min-width: 992px) 50vw, 100vw" srcset="
            images/main-page/about-us-320.webp   320w,
            images/main-page/about-us-640.webp   640w,
            images/main-page/about-us-960.webp   960w,
            images/main-page/about-us-1280.webp 1280w,
            images/main-page/about-us-1920.webp 1920w,
            images/main-page/about-us-2560.webp 2560w
          ">
        <source type="image/jpeg" sizes="(min-width: 992px) 50vw, 100vw" srcset="
            images/main-page/about-us-320.jpg   320w,
            images/main-page/about-us-640.jpg   640w,
            images/main-page/about-us-960.jpg   960w,
            images/main-page/about-us-1280.jpg 1280w,
            images/main-page/about-us-1920.jpg 1920w,
            images/main-page/about-us-2560.jpg 2560w
          ">
        <img draggable="false" height="2560" width="2560" class="regular-img" src="images/main-page/about-us-960.jpg"
          alt="">
      </picture>

      <p class="about__attachment">
        Lorem ipsum <span class="fw-bold">+250 dolor sit amet<span class="color-primary">.</span></span>
      </p>

    </div>
  </div>

</section>

<!--  ====================   PORTFOLIO  ==================== -->

<section class="section container-fluid container-xxl portfolio">
  <h2 class="h-5">Portfolio</h2>
  <p class="h-2"><span class="text-accent">Case</span> Studiess<span class="text-accent">.</span></p>
  <div class="row g-0 portfolio__item">
    <div class="col-12 col-lg-6 portfolio__img">
      <a href="#">
        <picture>
          <source type="image/avif" sizes="(min-width: 992px) 50vw, 100vw" srcset="
                images/main-page/portfolio-1-320.avif   320w,
                images/main-page/portfolio-1-640.avif   640w,
                images/main-page/portfolio-1-960.avif   960w,
                images/main-page/portfolio-1-1280.avif 1280w,
                images/main-page/portfolio-1-1920.avif 1920w,
                images/main-page/portfolio-1-2560.avif 2560w
              ">
          <source type="image/webp" sizes="(min-width: 992px) 50vw, 100vw" srcset="
                images/main-page/portfolio-1-320.webp   320w,
                images/main-page/portfolio-1-640.webp   640w,
                images/main-page/portfolio-1-960.webp   960w,
                images/main-page/portfolio-1-1280.webp 1280w,
                images/main-page/portfolio-1-1920.webp 1920w,
                images/main-page/portfolio-1-2560.webp 2560w
              ">
          <source type="image/jpeg" sizes="(min-width: 992px) 50vw, 100vw" srcset="
                images/main-page/portfolio-1-320.jpg   320w,
                images/main-page/portfolio-1-640.jpg   640w,
                images/main-page/portfolio-1-960.jpg   960w,
                images/main-page/portfolio-1-1280.jpg 1280w,
                images/main-page/portfolio-1-1920.jpg 1920w,
                images/main-page/portfolio-1-2560.jpg 2560w
              ">
          <img draggable="false" height="2560" width="2560" class="regular-img portfolio__img"
            src="images/main-page/portfolio-1-960.jpg" alt="Buddy Jane">
        </picture>
      </a>
    </div>

    <div class="col-12 col-lg-5 portfolio__content">
      <ul class="box-list">
        <li><a href="#">System management</a></li>
        <li><a href="#">Disaster Recovery</a></li>
      </ul>
      <h3 class="h-3"><a href="#" class="header-link">Buddy Jane</a></h3>
      <p>Ensure your important business data is protected with security software designed to find malware, prevent
        intrusions, and adapt to new threats fast.</p>
      <a class="box-link">Read more <svg aria-hidden="true" class="arrow-right-icon box-link__icon">
          <use href="images/icons/sprite-mono.svg#arrow"></use>
        </svg></a>
    </div>
  </div>
  <div class="row g-0 portfolio__item">
    <div class="col-12 col-lg-6 portfolio__img"> <a>
        <picture>
          <source type="image/avif" sizes="(min-width: 992px) 50vw, 100vw" srcset="
              images/main-page/portfolio-2-320.avif   320w,
              images/main-page/portfolio-2-640.avif   640w,
              images/main-page/portfolio-2-960.avif   960w,
              images/main-page/portfolio-2-1280.avif 1280w,
              images/main-page/portfolio-2-1920.avif 1920w,
              images/main-page/portfolio-2-2560.avif 2560w
            ">
          <source type="image/webp" sizes="(min-width: 992px) 50vw, 100vw" srcset="
              images/main-page/portfolio-2-320.webp   320w,
              images/main-page/portfolio-2-640.webp   640w,
              images/main-page/portfolio-2-960.webp   960w,
              images/main-page/portfolio-2-1280.webp 1280w,
              images/main-page/portfolio-2-1920.webp 1920w,
              images/main-page/portfolio-2-2560.webp 2560w
            ">
          <source type="image/jpeg" sizes="(min-width: 992px) 50vw, 100vw" srcset="
              images/main-page/portfolio-2-320.jpg   320w,
              images/main-page/portfolio-2-640.jpg   640w,
              images/main-page/portfolio-2-960.jpg   960w,
              images/main-page/portfolio-2-1280.jpg 1280w,
              images/main-page/portfolio-2-1920.jpg 1920w,
              images/main-page/portfolio-2-2560.jpg 2560w
            ">
          <img draggable="false" height="2560" width="2560" class="regular-img portfolio__img"
            src="images/main-page/portfolio-2-960.jpg" alt="Healing with Modern">
        </picture>
      </a></div>

    <div class="col-12 col-lg-5 portfolio__content">
      <ul class="box-list">
        <li><a href="#">System managment</a></li>
        <li><a href="#">Disaster Recovery</a></li>
      </ul>
      <h3 class="h-3"><a href="#" class="header-link">Healing with Modern</a></h3>
      <p>Ensure your important business data is protected with secur software designed to find malware, prevent
        intrusions, and adapt to new threats fast. </p>
      <a class="box-link">Read more <svg aria-hidden="true" class="arrow-right-icon box-link__icon">
          <use href="images/icons/sprite-mono.svg#arrow"></use>
        </svg></a>
    </div>
  </div>
  <div class="row g-0 portfolio__item ">
    <div class="col-12 col-lg-6 portfolio__img"> <a>
        <picture>
          <source type="image/avif" sizes="(min-width: 992px) 50vw, 100vw" srcset="
              images/main-page/portfolio-3-320.avif   320w,
              images/main-page/portfolio-3-640.avif   640w,
              images/main-page/portfolio-3-960.avif   960w,
              images/main-page/portfolio-3-1280.avif 1280w,
              images/main-page/portfolio-3-1920.avif 1920w,
              images/main-page/portfolio-3-2560.avif 2560w
            ">
          <source type="image/webp" sizes="(min-width: 992px) 50vw, 100vw" srcset="
              images/main-page/portfolio-3-320.webp   320w,
              images/main-page/portfolio-3-640.webp   640w,
              images/main-page/portfolio-3-960.webp   960w,
              images/main-page/portfolio-3-1280.webp 1280w,
              images/main-page/portfolio-3-1920.webp 1920w,
              images/main-page/portfolio-3-2560.webp 2560w
            ">
          <source type="image/jpeg" sizes="(min-width: 992px) 50vw, 100vw" srcset="
              images/main-page/portfolio-3-320.jpg   320w,
              images/main-page/portfolio-3-640.jpg   640w,
              images/main-page/portfolio-3-960.jpg   960w,
              images/main-page/portfolio-3-1280.jpg 1280w,
              images/main-page/portfolio-3-1920.jpg 1920w,
              images/main-page/portfolio-3-2560.jpg 2560w
            ">
          <img draggable="false" height="2560" width="2560" class="regular-img portfolio__img"
            src="images/main-page/portfolio-3-960.jpg" alt="OLX Motors Europe">
        </picture>

      </a></div>

    <div class="col-12 col-lg-5 portfolio__content">
      <ul class="box-list">
        <li><a href="#">System managment</a></li>
        <li><a href="#">Disaster Recovery</a></li>
      </ul>
      <h3 class="h-3"><a href="#" class="header-link">OLX Motors Europe</a></h3>
      <p>Ensure your important business data is protected with security software designed to find malware, prevent
        intrusions, and adapt to new threats fast.</p>
      <a class="box-link">Read more <svg aria-hidden="true" class="arrow-right-icon box-link__icon">
          <use href="images/icons/sprite-mono.svg#arrow"></use>
        </svg></a>
    </div>
  </div>
  <div class="section-btn">
    <a href="#" class="btn m-0">Explore more</a>
  </div>

</section>

<!--  ====================  PARTNERS  ==================== -->

<section class="section container-fluid container-xxl partners">
  <div class="row justify-content-between">
    <div class="col-12 col-lg-4 partners__content">
      <h2 class="h-5">Our Partners</h2>
      <p class="h-2"><span class="text-accent">Working</span> With the Best<span class="text-accent">.</span></p>
      <p>Run your business entirely from the cloud, with email, data storage, systems management, data backup, disaster
        recovery, telephony, and more.</p>
      <a href="partners.html" class="btn mt-0">Get started</a>
    </div>
    <div class="col-12 col-lg-7">
      <div class="row gy-3">
        <div class="col-6 col-sm-4">
          <div class="partners__box">
            <svg aria-hidden="true" class="partners__icon">
              <use href="images/icons/sprite-mono.svg#partners--microsoft"></use>
            </svg>
          </div>
        </div>
        <div class="col-6 col-sm-4">
          <div class="partners__box">
            <svg aria-hidden="true" class="partners__icon">
              <use href="images/icons/sprite-mono.svg#partners--hp"></use>
            </svg>
          </div>
        </div>
        <div class="col-6 col-sm-4">
          <div class="partners__box">
            <svg aria-hidden="true" class="partners__icon">
              <use href="images/icons/sprite-mono.svg#partners--cisco"></use>
            </svg>
          </div>
        </div>
        <div class="col-6 col-sm-4">
          <div class="partners__box">
            <svg aria-hidden="true" class="partners__icon">
              <use href="images/icons/sprite-mono.svg#partners--cove"></use>
            </svg>
          </div>
        </div>
        <div class="col-6 col-sm-4">
          <div class="partners__box">
            <svg aria-hidden="true" class="partners__icon">
              <use href="images/icons/sprite-mono.svg#partners--lenovo"></use>
            </svg>
          </div>
        </div>
        <div class="col-6 col-sm-4">
          <div class="partners__box">
            <svg aria-hidden="true" class="partners__icon">
              <use href="images/icons/sprite-mono.svg#partners--hp-enterprise"></use>
            </svg>
          </div>
        </div>

      </div>


    </div>
  </div>
</section>

<!-- ====================   BLOG   ==================== -->

<section class="section container-fluid container-xxl blog">
  <h2 class="h-5">IT Blog</h2>
  <p class="h-2"><span class="text-accent">Expert</span> research<span class="text-accent">.</span></p>

  <div class="row gy-3">
    <div class="col-12 col-md-6 col-lg-4 blog-col">
      <div class="card-blog-post">
        <a class="card-blog-post__img">
          <picture>
            <source type="image/avif" sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw" srcset="
                    images/main-page/blog-1-320.avif   320w,
                    images/main-page/blog-1-640.avif   640w,
                    images/main-page/blog-1-960.avif   960w,
                    images/main-page/blog-1-1280.avif 1280w,
                    images/main-page/blog-1-1920.avif 1920w,
                    images/main-page/blog-1-2560.avif 2560w
                  ">
            <source type="image/webp" sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw" srcset="
                    images/main-page/blog-1-320.webp   320w,
                    images/main-page/blog-1-640.webp   640w,
                    images/main-page/blog-1-960.webp   960w,
                    images/main-page/blog-1-1280.webp 1280w,
                    images/main-page/blog-1-1920.webp 1920w,
                    images/main-page/blog-1-2560.webp 2560w
                  ">
            <source type="image/jpeg" sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw" srcset="
                    images/main-page/blog-1-320.jpg   320w,
                    images/main-page/blog-1-640.jpg   640w,
                    images/main-page/blog-1-960.jpg   960w,
                    images/main-page/blog-1-1280.jpg 1280w,
                    images/main-page/blog-1-1920.jpg 1920w,
                    images/main-page/blog-1-2560.jpg 2560w
                  ">
            <img draggable="false" height="2560" width="2560" class="regular-img" src="images/main-page/blog-1-960.jpg"
              alt="Packet Pushers Heavy Networking Podcast">
          </picture>

          <span class="box-btn">
            <svg aria-hidden="true" class="arrow-right-icon">
              <use href="images/icons/sprite-mono.svg#arrow"></use>
            </svg>
          </span>
        </a>

        <div class="card-blog-post__content">

          <p class="box-time">
            12 April 2022
          </p>

          <h3 class="h-4"><a href="#" class="header-link">Packet Pushers Heavy Networking Podcast</a></h3>
          <ul class="box-list">
            <li><a href="#">Management</a></li>
            <li><a href="#">IT</a></li>
            <li><a href="#">Disaster Recovery</a></li>
          </ul>
        </div>

      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 blog-col">
      <div class="card-blog-post">
        <a class="card-blog-post__img">
          <picture>
            <source type="image/avif" sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw" srcset="
                    images/main-page/blog-2-320.avif   320w,
                    images/main-page/blog-2-640.avif   640w,
                    images/main-page/blog-2-960.avif   960w,
                    images/main-page/blog-2-1280.avif 1280w,
                    images/main-page/blog-2-1920.avif 1920w,
                    images/main-page/blog-2-2560.avif 2560w
                  ">
            <source type="image/webp" sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw" srcset="
                    images/main-page/blog-2-320.webp   320w,
                    images/main-page/blog-2-640.webp   640w,
                    images/main-page/blog-2-960.webp   960w,
                    images/main-page/blog-2-1280.webp 1280w,
                    images/main-page/blog-2-1920.webp 1920w,
                    images/main-page/blog-2-2560.webp 2560w
                  ">
            <source type="image/jpeg" sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw" srcset="
                    images/main-page/blog-2-320.jpg   320w,
                    images/main-page/blog-2-640.jpg   640w,
                    images/main-page/blog-2-960.jpg   960w,
                    images/main-page/blog-2-1280.jpg 1280w,
                    images/main-page/blog-2-1920.jpg 1920w,
                    images/main-page/blog-2-2560.jpg 2560w
                  ">
            <img draggable="false" height="2560" width="2560" class="regular-img" src="images/main-page/blog-2-960.jpg"
              alt="Tips For Efficient Communication With Your IT Support Team">
          </picture>
          <span class="box-btn">
            <svg aria-hidden="true" class="arrow-right-icon">
              <use href="images/icons/sprite-mono.svg#arrow"></use>
            </svg>
          </span>
        </a>

        <div class="card-blog-post__content">

          <p class="box-time">
            12 April 2022
          </p>

          <h3 class="h-4"><a href="#" class="header-link">Tips For Efficient Communication With Your IT Support Team</a>
          </h3>
          <ul class="box-list">
            <li><a href="#">Management</a></li>
            <li><a href="#">Business</a></li>
          </ul>
        </div>

      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 blog-col">
      <div class="card-blog-post">
        <a class="card-blog-post__img">
          <picture>
            <source type="image/avif" sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw" srcset="
                    images/main-page/blog-3-320.avif   320w,
                    images/main-page/blog-3-640.avif   640w,
                    images/main-page/blog-3-960.avif   960w,
                    images/main-page/blog-3-1280.avif 1280w,
                    images/main-page/blog-3-1920.avif 1920w,
                    images/main-page/blog-3-2560.avif 2560w
                  ">
            <source type="image/webp" sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw" srcset="
                    images/main-page/blog-3-320.webp   320w,
                    images/main-page/blog-3-640.webp   640w,
                    images/main-page/blog-3-960.webp   960w,
                    images/main-page/blog-3-1280.webp 1280w,
                    images/main-page/blog-3-1920.webp 1920w,
                    images/main-page/blog-3-2560.webp 2560w
                  ">
            <source type="image/jpeg" sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw" srcset="
                    images/main-page/blog-3-320.jpg   320w,
                    images/main-page/blog-3-640.jpg   640w,
                    images/main-page/blog-3-960.jpg   960w,
                    images/main-page/blog-3-1280.jpg 1280w,
                    images/main-page/blog-3-1920.jpg 1920w,
                    images/main-page/blog-3-2560.jpg 2560w
                  ">
            <img draggable="false" height="2560" width="2560" class="regular-img" src="images/main-page/blog-3-960.jpg"
              alt="Packet Pushers Heavy Networking Podcast">
          </picture>

          <span class="box-btn">
            <svg aria-hidden="true" class="arrow-right-icon">
              <use href="images/icons/sprite-mono.svg#arrow"></use>
            </svg>
          </span>

        </a>

        <div class="card-blog-post__content">

          <p class="box-time">
            15 March 2022
          </p>

          <h3 class="h-4"><a href="#" class="header-link">Packet Pushers Heavy Networking Podcast</a></h3>
          <ul class="box-list">
            <li><a href="#">Management</a></li>
            <li><a href="#">Disaster Recovery</a></li>
          </ul>
        </div>

      </div>
    </div>

  </div>

</section>