<ul class="social-icons">

  <li class="social-icons__item">
    <a href="#" class="rounded-icon" aria-label="Linkedin">
      <svg aria-hidden="true" class="icon-rounded">
        <use href="images/icons/sprite-mono.svg#socials--linkedin"></use>
      </svg>
    </a>
  </li>

  <li class="social-icons__item">
    <a href="#" class="rounded-icon" aria-label="Facebook">
      <svg aria-hidden="true" class="icon-rounded">
        <use href="images/icons/sprite-mono.svg#socials--facebook"></use>
      </svg>
    </a>
  </li>

  <li class="social-icons__item">
    <a href="#" class="rounded-icon" aria-label="Instagram">
      <svg aria-hidden="true" class="icon-rounded">
        <use href="images/icons/sprite-mono.svg#socials--instagram"></use>
      </svg>
    </a>
  </li>

</ul>
