.dialog {
  @include flex($flex-direction: column, $row-gap: var(--spacer));
  @include space(var(--spacer-lg), padding, all);
  @include fixed(top 50% left 50%);
  translate: -50% -50%;
  background-color: var(--color-light);
  box-shadow: var(--shadow);
  border-radius: var(--br);
  border: 1px solid var(--color-dark);
  z-index: var(--z-dialog);
  overflow: auto;
  width: 100%;

  @include media-breakpoint-up(lg) {
    width: 75%;
  }

  @include media-breakpoint-up(xxl) {
    width: auto;

    max-width: 50rem;
  }

  max-height: 90vh;
  max-width: 85vw;

  &__header {
    color: var(--color-secondary-dark);
    text-align: center;
  }

  &__form {
    @include flex($flex-direction: column, $row-gap: var(--spacer-sm));
  }

  &__form-item {
    @include flex($flex-wrap: wrap, $gap: var(--spacer-sm));

    label {
      font-weight: var(--fw-semibold);
      @include flex($flex-direction: column, $flex-wrap: wrap, $align-items: flex-start, $gap: var(--spacer-sm));
      width: 100%;
      @include media-breakpoint-up(md) {
        width: auto;
        flex-direction: row;
        margin-left: auto;
      }
    }
  }

  &__form-input {
    @include space(0.25rem, padding, all);
    border: 1px solid var(--color-dark);

    min-width: 100%;
    @include media-breakpoint-up(md) {
      min-width: 25rem;
    }
  }

  &__label-info {
    min-width: 50%;
    font-size: var(--fs-6);
    @include media-breakpoint-up(md) {
      margin-left: auto;
      text-align: right;
    }
  }

  &__form-controls {
    @include flex($flex-wrap: wrap, $gap: var(--spacer-sm));
    @include media-breakpoint-up(md) {
      justify-content: flex-end;
    }

    button {
      @include btn-reverse();
    }
  }
}
