@mixin spacer($type: padding, $value: var(--spacer)) {
  @if $type == 'margin' {
    margin: $value;
  } @else if $type == 'padding' {
    padding: $value;
  }
}

@mixin spacer-top($type: padding, $value: var(--spacer)) {
  @if $type == 'margin' {
    margin-top: $value;
  } @else if $type == 'padding' {
    padding-top: $value;
  }
}

@mixin spacer-left($type: padding, $value: var(--spacer)) {
  @if $type == 'margin' {
    margin-left: $value;
  } @else if $type == 'padding' {
    padding-left: $value;
  }
}

@mixin spacer-right($type: padding, $value: var(--spacer)) {
  @if $type == 'margin' {
    margin-right: $value;
  } @else if $type == 'padding' {
    padding-right: $value;
  }
}

@mixin spacer-bottom($type: padding, $value: var(--spacer)) {
  @if $type == 'margin' {
    margin-bottom: $value;
  } @else if $type == 'padding' {
    padding-bottom: $value;
  }
}

@mixin spacer-vertical($type: padding, $value: var(--spacer)) {
  @if $type == 'margin' {
    margin-top: $value;
    margin-bottom: $value;
  } @else if $type == 'padding' {
    padding-top: $value;
    padding-bottom: $value;
  }
}

@mixin spacer-horizontal($type: padding, $value: var(--spacer)) {
  @if $type == 'margin' {
    margin-left: $value;
    margin-right: $value;
  } @else if $type == 'padding' {
    padding-left: $value;
    padding-right: $value;
  }
}
