/* ====================   COLORS   ==================== */
$color-black: hsl(0, 0%, 18%);
$color-orange: hsl(32, 92%, 54%);
$color-blue: hsl(206, 60%, 50%);
$color-dark-blue: hsl(206, 100%, 34%);
$color-gray: hsl(206, 22%, 58%);
//$color-gray: hsl(206, 33%, 70%);
$color-blue-light: hsl(208, 60%, 95%);
$color-white: hsl(0, 0%, 100%);
$color-border: hsl(0, 0%, 0%, 0.3);
$color-stroke: hsl(20, 6%, 90%);

$color-primary: $color-orange;
$color-secondary: $color-blue;
$color-secondary-dark: $color-dark-blue;
$color-secondary-light: $color-blue-light;

$color-accent: null;
$color-accent-light: null;

$color-light: $color-white;
$color-dark: $color-black;

/* ====================   TYPOGRAPHY   ==================== */

// Fonts
$ff-primary: GeneralSans, Arial, sans-serif;
$ff-secondary: null;

$fs-base: 18px;
$fs-sm: .8889rem; 
$fs-lg: 1.1111rem; 

$lh-base: 1.6; // HTML lh-base    // HTML lh-1
$lh-sm: 1.25; // HTML lh-sm
$lh-lg: 2; // HTML lh-lg

$regular: 400;
$medium: 500;
$semibold: 600;

// Headings
$headings-color: null;
$headings-ff: null;
$headings-fs: null;
$headings-fw: $semibold;
$headings-lh: 1.2;

$headings-fs: $fs-base * 1;
$fs-h1: $headings-fs * 4;
$fs-h2: $headings-fs * 3;
$fs-h3: $headings-fs * 1.25;
$fs-h4: $headings-fs * 1.375;
$fs-h5: $headings-fs * 1.125;
$fs-h6: $headings-fs * 0.875;

/* ====================   STRUCTURE   ==================== */

// Spacers
$spacer: 1.5rem;
$spacer-sm: $spacer * 0.5;
$spacer-lg: $spacer * 2;
$spacer-xl: $spacer * 2.3;
$spacer-headings: $spacer * 1;

// Shadows
$shadow: 5px 5px 0 $color-dark;
$shadow-sm: 2px 2px 0 $color-dark;

// z-index map
$z-index: (
  nav-search: 50,
  nav-menu: 100,
  header: 50,
);

$br: .4444rem;
$br-sm: .3333rem;
$br-pill: 100rem;
