.section {
  h1 {
    margin-top: -1rem;
  }

  &:not(:first-child) {
    @include spacer-vertical('padding', $spacer-xl);
  }

  &__desc-accent {
    color: $color-primary;
  }

  .h-5 {
    text-transform: uppercase;
  }
}


/* ====================   IMPORTS   ==================== */

@import '1-hero';
@import '2-services';
@import '3-about';
@import '4-portfolio';
@import '5-partners';
@import '6-blog';
