.hero-p-accent {
  @include font-size(1.375rem);
  text-transform: uppercase;
  color: $color-accent;
  line-height: 1;

  @include media-breakpoint-down(md) {
    font-size: $fs-lg;
  }
}

.hero {
  @include spacer-top('padding', $spacer);

  .row {
    justify-content: space-between;
    align-items: center;
  }
}

.hero-text-content {
  @include media-breakpoint-down(xl) {
    @include spacer-bottom('padding', $spacer-xl);
  }
  p {
    @include media-breakpoint-down(md) {
      font-size: $fs-sm;
    }
  }
}

.logo-regular-icon {
  fill: $color-accent-light;
  @include rfs(6rem, height);
  @include rfs(6rem, width);
}

[data-tab-content] {
  @include absolute(top 0 left 0);
  @include box(100%, 100%);
  visibility: hidden;
  opacity: 0;
}

._static[data-tab-content] {
  position: static;
  visibility: visible;
  opacity: 1;
}

._active[data-tab-content] {
  visibility: visible;
  z-index: 10;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.tab-cards-wrapper {
  padding: 0;
  margin: 15% 0;
}

.tab-cards {
  position: relative;
  @include depth();
}

.tabs {
  position: relative;
  .row {
    border-radius: $border-radius-sm;
    background-image: linear-gradient(
      90deg,
      hsl(336deg 95% 66%) 0%,
      hsl(336deg 95% 83%) 40%,
      hsl(0deg 0% 100%) 90%
    );
  }
}

.about-us-tabs-title {
  @include flex($justify-content: center, $align-items: center);
  @include font-size(1.25rem);
  color: $color-light;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 0.15em;
  rotate: -90deg;
}

.tab-arrow-right-icon {
  display: none;
  margin-right: 0.25rem;
  @include box(1.25rem, 1.25rem);
}

.tab-nav-list__item._active {
  color: $color-accent;
  font-weight: bold;
  .tab-arrow-right-icon {
    fill: $color-accent;
    display: inline-block;
  }
}

.tab-nav {
  @include spacer-vertical('padding', $spacer);
}

.tab-nav-list {
  margin: 0;
  color: $color-secondary;
}

.tab-nav-list__link {
  padding: 0.75rem 0;
  @include flex($align-items: center);
}

.tab-img {
  @include image-cover();
  aspect-ratio: 1 / 1;
  border-radius: $border-radius-sm;
}

.tab-btn {
  @include spacer-top('margin', $spacer);
}

// add focus & hover

/* ====================   MEDIA   ==================== */

@include media-breakpoint-down(sm) {
  .tab-nav {
    @include flex(
      $flex-direction: column,
      $justify-content: center,
      $align-items: center
    );
  }

  .tab-nav-list__link {
    justify-content: center;
    min-width: 15rem;
  }

  .tab-nav-list__item:not(:first-child) {
    border-top: 1px solid lighten($color-secondary, 60%);
  }
}

@include media-breakpoint-up(sm) {
  .tab-cards {
    filter: brightness(0.85);
  }

  .tab-cards-wrapper {
    translate: 15%;
  }

  .tab-nav {
    @include center(vertical);
    left: 17%;
  }

  .tab-nav-list__item {
    color: darken($color-light, 20%);
  }

  .tab-nav-list__link {
    @include font-size(2rem);
    font-weight: bold;
    padding: 0;
  }

  .tab-nav-list__item._active {
    color: $color-light;
    .tab-arrow-right-icon {
      display: inline-block;
      fill: $color-light;
    }
  }

  .tab-arrow-right-icon {
    @include box(2.5rem, 2.5rem);
    fill: $color-light;
  }
}
