.hero {
  @include spacer-top('padding', $spacer-xl);
  @include spacer-bottom('padding', $spacer);

  P {
    font-weight: $medium;
    @include font-size(1.3333rem);
  }
}

.banner-bg {
  @include image-cover();
  height: 50vh;
  @include media-breakpoint-up(lg) {
    height: 100vh;
  }
}
