.hero {
  @include spacer-vertical('padding', $spacer-lg);

  P {
    font-weight: $medium;
    @include font-size(1.3333rem);
  }
}

.banner-bg {
  @include image-cover();
  height: 60vh;
  @include media-breakpoint-up(lg) {
    height: 100vh;
  }
}
