.section.about {
  padding-top: 0;
}

.about {
  &__content {
    @include spacer-vertical('padding', $spacer-lg);

    @include media-breakpoint-up(lg) {
      @include spacer-right('padding', $spacer-lg);
    }
  }

  &__img {
    position: relative;
  }
}

.about__attachment {
  @include absolute(left 15% bottom 0);
  translate: 0 50%;
  max-width: 80vw;
  padding: 0.75rem 1.15rem;
  margin: 0;
  border-radius: $br;
  background-color: $color-dark;
  font-size: $fs-sm;
  color: $color-light;

  span {
    font-weight: $semibold;
  }
}
