.portfolio {
  &__item {
    border-radius: $br;
    border: 1px solid $color-stroke;
    &:not(:last-child){
      @include spacer-bottom('margin', $spacer-lg);
    }
  }

  &__content {
    @include spacer('padding', $spacer);
    @include margin-auto();
  }

  &__list {
    @include flex($flex-wrap: wrap, $align-items: center);
    margin-top: 0;
    font-size: 0.7778rem;

    li {
      background-color: $color-secondary-light;
      padding: 0.1667rem 0.5556rem;
      margin-bottom: 0.25rem;
      &:not(:last-child) {
        margin-right: 0.5556rem;
      }
    }
  }

  &__header {
    @include font-size(2rem);
  }

}
