.partners {
  &__box {
    aspect-ratio: 1 / 1;
    padding: var(--spacer-sm);
    border-radius: var(--br);
    border: var(--border);
    @include flex($justify-content: center, $align-items: center);
    background-color: var(--color-light);
  }

  &__icon {
    fill: var(--color-secondary-gray);
    @include box(100%, 5rem);
  }

  &__content {
    @include margin-auto(y);
    @include media-breakpoint-down(lg) {
      @include spacer-bottom('padding', var(--spacer));
    }
  }
}
