.disable-select {
  user-select: none;
}

.header-link {
  transition: all 0.4s ease-in-out;
  text-decoration: underline solid 2px transparent;
  text-underline-offset: 10%;

  @include hover {
    color: $color-secondary-dark;
    text-decoration-color: $color-secondary-dark;
  }
}

.color-light {
  color: $color-light;
}

.color-dark {
  color: $color-dark;
}

.color-primary {
  color: $color-primary;
}

.color-accent {
  color: $color-accent;
}
.color-accent-light {
  color: $color-accent-light;
}

.text-accent {
  color: $color-primary;
}

.color-secondary {
  color: $color-secondary;
}

.text-sm {
  @include font-size($fs-sm);
}

.text-lg {
  @include font-size($fs-lg);
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.fst-italic {
  font-style: italic;
}

.fst-normal {
  font-style: normal;
}

.fw-bold {
  font-weight: bold;
}

.fw-normal {
  font-weight: normal;
}

.fw-light {
  font-weight: light;
}

.nowrap {
  white-space: nowrap;
}

.text-underline {
  text-decoration: underline 1px solid $color-dark;
}

.visually-hidden {
  @include visually-hidden();
}

.link-space {
  @include link-space();

  &-none {
    position: auto;
    content: none;
  }
}

.stop-transition {
  transition: none !important;
}

.regular-img {
  @include image-cover();
}

.spacer {
  @include spacer-vertical('margin', $spacer);
}

.section-btn {
  @include flex($justify-content: center, $align-items: center);
}

/* ====================   ARROWS   ==================== */

.arrow-right-icon {
  rotate: -90deg;
}

/* ====================   POSITION   ==================== */

.position-static {
  position: static;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.position-sticky {
  position: sticky;
}
