.disable-select {
  user-select: none;
}

.color-light {
  color: var(--color-light);
}

.color-dark {
  color: var(--color-dark);
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.text-accent {
  color: var(--color-accent);
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.font-style-italic {
  font-style: italic;
}

.font-style-normal {
  font-style: normal;
}

.fw-normal {
  font-weight: normal;
}

.fw-semibold {
  font-weight: var(--fw-semibold);
}

.fw-medium {
  font-weight: var(--fw-medium);
}

.nowrap {
  white-space: nowrap;
}

.visually-hidden {
  @include visually-hidden();
}

.link-space {
  @include link-space();

  &-none {
    position: auto;
    content: none;
  }
}

.link {
  @include link;
}

.stop-transition {
  transition: none !important;
}

.spacer {
  @include spacer-vertical('margin', var(--spacer));
}

/* ====================   ARROWS   ==================== */

.arrow-right-icon {
  rotate: -90deg;
}

.arrow-left-icon {
  rotate: 90deg;
}

.arrow-top-icon {
  rotate: -180deg;
}

/* ====================   POSITION   ==================== */

.position-static {
  position: static;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.position-sticky {
  position: sticky;
}
