.nav-search {
  display: none;
  @include flex($justify-content: space-between, $align-items: center);
  height: auto;
  height: 2.2778rem;
  max-width: 7.7778rem;
  border-radius: $br-sm;
  outline: 1px solid $color-dark;
  margin-left: 0.75rem;
 
  &:focus-within {
    max-width: 100%;
    outline: 1px solid $color-accent;
  }

  &:focus-within:valid {
    .nav-search-buttons__icon {
      fill: $color-accent;
    }

    .nav-search-buttons__search svg {
      scale: 1.25;
    }

    .nav-search-buttons__reset {
      @include media-breakpoint-only(md) {
        display: flex;
      }
    }
  }
}

.nav-search-input {
  width: 100%;

  padding: 0 0.5rem 0 1rem;

  &::placeholder {
    color: $color-dark;
    font-weight: $medium;
  }

  &:focus-visible::placeholder {
    color: transparent;
  }
}

.nav-search-buttons {
  @include flex($justify-content: center, $align-items: center);
  padding: 0 0.75rem;
  height: 100%;
  outline: none;

  &__open {
    display: flex;
    margin-left: auto;
  }

  &__close {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: bold;
    outline: 1px solid $color-primary;

    &:focus-visible {
      background-color: $color-accent;
      color: $color-light;
    }
  }

  &__reset {
    display: none;
  }

  &__icon {
    @include flex($justify-content: center, $align-items: center);
    @include box(1.1111rem, 1.1111rem);
    fill: $color-dark;
  }

  &:focus-visible {
    background-color: $color-secondary;
    svg {
      fill: $color-light !important;
    }
  }

  @include hover {
    background-color: $color-secondary;
    svg {
      fill: $color-light;
    }
  }
}

/* ====================   DESKTOP   ==================== */

@include media-breakpoint-up(md) {
  .nav-search {
   
    width: 100%;
    margin-left: 0;
    transition: max-width 0.4s ease-in-out;
  }

  .nav-search-input {
    &::placeholder {
      font-size: $fs-base;
      transition: all 0.4s ease-in-out;
    }
  }

  .nav-search-buttons {
    &__close {
      display: none;
    }

    &__open {
      display: none !important;
    }

    &__reset {
      border-right: 1px solid $color-accent;
    }

    &__search {
      svg {
        transition: scale 0.3s ease-in-out;
      }
    }
  }
}
