.header._sticky-header {
  @include fixed(top 0 left 0);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 1.5em 1.25em -1.5em;
}

.header {
  @include z-index(header);
  @include spacer-vertical('padding', $spacer-sm);
  background-color: $color-light;
  user-select: none;
  @include media-breakpoint-up(xxl) {
    @include spacer-horizontal('padding', $spacer-lg);
  }

  @include flex($flex-wrap: wrap, $align-items: center);
}

.header > * {
  @include flex($justify-content: center, $align-items: center);
}

.logo {
  @include flex($justify-content: center, $align-items: center);
  @include media-breakpoint-up(xxl) {
    @include spacer-right('margin', $spacer-lg);
  }
}

.phone {
  @include spacer-horizontal('margin', $spacer-sm);

  &__number {
    @include media-breakpoint-up(md) {
      @include font-size(1.3333rem);
    }

    font-weight: $semibold;
    color: $color-primary;
  }
}

.phone-icon {
  @include box(1.5rem, 1.5rem);
  @include media-breakpoint-up(md) {
    @include box(2.25rem, 2.25rem);
  }

  margin-right: 0.5rem;
  fill: $color-primary;
}

.logo-icon {
  @include rfs(11rem, max-width);
  @include rfs(7rem, max-height);
}

/* ====================   IMPORTS   ==================== */

@import 'nav-menu';
@import 'search';
