.header._sticky-header {
  @include fixed(top 0 left 0);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 8px;
}

.header {
  @include spacer-vertical('padding', var(--spacer-sm));
  @include media-breakpoint-up(xxl) {
    @include spacer-horizontal('padding', var(--spacer-lg));
  }
  @include flex($flex-wrap: wrap, $align-items: center);
}

.header > * {
  @include flex($justify-content: center, $align-items: center);
}

.logo-icon {
  width: clamp(3.75rem, calc(1.02rem + 13.64vw), 11.25rem);
  height: clamp(2.5rem, calc(0.68rem + 9.09vw), 7.5rem);
}

.logo-hover {
  transition: var(--transition);

  @include hover {
    filter: drop-shadow(0 0 0.75rem var(--color-secondary));
  }

  &:focus-visible {
    filter: drop-shadow(0 0 0.75rem var(--color-secondary));
  }
}

.phone {
  @include spacer-horizontal('margin', var(--spacer-lg));

  &__icon {
    @include box(clamp(1.5rem, calc(1.23rem + 1.36vw), 2.25rem), clamp(1.5rem, calc(1.23rem + 1.36vw), 2.25rem));
    margin-right: 0.75rem;
    fill: var(--color-primary);
    transition: var(--transition);
  }

  &__link {
    font-size: clamp(1.06rem, calc(0.9rem + 0.8vw), 1.5rem);
    font-weight: var(--fw-semibold);
    color: var(--color-primary);
    transition: var(--transition);
    text-decoration: underline 1px solid transparent;
    @include bubble($text: 'Make a phone call');

    @include hover {
      text-decoration: underline 1px solid var(--color-primary);
    }

    &:focus-visible {
      text-decoration: underline 1px solid var(--color-primary);
    }
  }
}

/* ====================   IMPORTS   ==================== */

@import 'nav-menu';
@import 'search';
@import 'hamburger-toggler';
