.nav-menu {
  width: 100%;
  margin: 0;
  
  &__link {
    font-weight: var(--fw-medium);

    @include hover {
      color: var(--color-secondary);
      text-decoration: underline;
    }

    &:focus-visible {
      color: var(--color-secondary);
      text-decoration: underline 2px;
    }
  }
}

@include media-breakpoint-down(xl) {
  .nav-menu {
    @include spacer-vertical('margin', var(--spacer-sm));

    &__link {
      @include spacer-vertical('padding', var(--spacer-sm));
    }
  }
}

@include media-breakpoint-up(xl) {
  .nav-menu {
    @include flex($flex-wrap: wrap, $justify-content: center, $align-items: center);

    &__link {
      @include spacer('padding', var(--spacer-sm));
    }
  }
}
