.navigation {
  @include fixed(right 0 top 0 bottom 0);
  @include flex($flex-direction: column, $justify-content: flex-start, $align-items: flex-start);
  width: auto;
  padding: 0 0.75rem 0.75rem 0.75rem;
  background-color: var(--color-light);
  will-change: auto;
  z-index: var(--z-hamburger);
  visibility: hidden;
  translate: 100%;
  transition: var(--transition);

  @include media-breakpoint-up(xl) {
    padding-bottom: 0;
    visibility: visible;
    position: static;
    translate: 0;
  }

  &.active {
    overflow-y: auto;
    visibility: visible;
    translate: 0;
    box-shadow: 0.5rem 0 1rem 0.5rem rgba(0 0 0 / 0.25);
  }

  .social {
    margin-bottom: 0;

    @include media-breakpoint-up(xl) {
      display: none;
    }
  }
}

.backdrop {
  @include absolute(top 0 left 0);
  @include box(100vw, 100vh);
  z-index: var(--z-hamburger-backdrop);
  background: rgba(0 0 0 / 0.5);
  visibility: hidden;
  opacity: 0;
  margin: 0;
  cursor: pointer;
  transition: opacity var(--transition), visibility var(--transition);
}

.backdrop.active {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
