.nav-body {
  position: relative;
}

.nav-menu {
  @include flex($flex-direction: column);
  width: 100%;

  &__link {
    padding: $spacer-sm;
    font-weight: $medium;

    &:focus-visible {
      color: $color-secondary;
      outline-style: none;
      text-decoration: underline 3px;
    }
  }
}

.nav-menu__item {
  @include hover {
    .nav-menu__link {
      color: $color-secondary;
      text-decoration: underline;
    }

    .dropdown__icon {
      fill: $color-secondary;
    }
  }
}

/* ====================   NAVIGATION MEDIA   ==================== */

@include media-breakpoint-down(xl) {
  .navigation {
    position: absolute;
    right: 0;
    display: block;
    will-change: auto;
    visibility: hidden;
    height: 0;
    width: 100%;
    //transition: all 0.3s, translate 0.6s, opacity 1s;
    transition-timing-function: ease-out;
    overflow: hidden;
    opacity: 0;
    background: $color-light;

    &.active {
      order: 5;
      position: static;
      height: 100vh;
      visibility: visible;
      @include z-index(nav-menu);
      opacity: 1;
      box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }
  }

  .nav-menu {
    @include font-size($fs-base);
    &__link {
      padding-left: 0;
    }
  }
}

@include media-breakpoint-up(lg) {
  .active-page {
    .nav-menu__link {
      color: $color-secondary;
    }

    .nav-menu-dropdown__btn {
      fill: $color-secondary;
    }
  }

  .nav-mobile-socials {
    display: none;
  }

  .nav-body {
    @include flex($justify-content: space-between, $align-items: center, $flex-direction: row);
  }

  .nav-menu {
    margin: 0;
    flex-direction: row;
    align-items: center;
  }
}

.nav-search-burger {
  @include flex($justify-content: center, $align-items: center);
  border: 2px solid $color-primary;
  height: 3rem;
  @include spacer-vertical('margin', $spacer-lg);
}
