.nav-search-container {
  display: none;
  @include media-breakpoint-up(md) {
    @include flex($justify-content: flex-end, $align-items: center);
    @include spacer-right('margin', var(--spacer-lg));
  }
  @include media-breakpoint-up(xl) {
    margin-right: 0;
  }
}

.nav-search {
  @include flex($justify-content: space-between, $align-items: center);

  max-width: 8.75rem;
  border-radius: var(--br-sm);
  outline: 1px solid var(--color-dark);
  height: 2.5rem;

  &:focus-within {
    box-shadow: 0 0 0 1000vmax rgba(0 0 0 / 0.25);
    max-width: 100%;
    outline: 2px solid var(--color-secondary);
    svg {
      fill: var(--color-secondary);
    }
  }

  &:focus-within:valid {
    .nav-search-buttons__search svg {
      scale: 1.25;
    }

    .nav-search-buttons__reset {
      @include media-breakpoint-only(md) {
        display: flex;
      }
    }
  }
}

.nav-search-input {
  width: 100%;
  font-size: var(--fs-5);
  padding: 0 0.75rem;

  &::placeholder {
    color: var(--color-dark);
    font-weight: var(--fw-medium);
  }

  &:focus-visible::placeholder {
    color: transparent;
  }
}

.nav-search-buttons {
  @include flex($justify-content: center, $align-items: center);
  padding: 0 0.75rem;
  height: 100%;
  transition: var(--transition);

  &__reset {
    display: none;
  }

  &__icon {
    @include flex($justify-content: center, $align-items: center);
    @include box(1.375rem, 1.375rem);
    fill: var(--color-dark);
  }

  &:focus-visible {
    background-color: var(--color-secondary);

    svg {
      fill: var(--color-light) !important;
    }
  }

  @include hover {
    background-color: var(--color-secondary);
    svg {
      fill: var(--color-light);
    }
  }
}

/* ====================   DESKTOP   ==================== */

@include media-breakpoint-up(md) {
  .nav-search {
    width: 100%;
    transition: max-width 0.4s ease-out;
  }

  .nav-search-input {
    &::placeholder {
      transition: all 0.4s ease-out;
    }
  }

  .nav-search-buttons {
    &__reset {
      border-right: 1px solid var(--color-primary);
    }

    &__search {
      svg {
        transition: var(--transition);
      }
    }
  }
}
